<%= form_for(@tweeter) do |f| %>
  <% if @tweeter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweeter.errors.count, "error") %> prohibited this tweeter from being saved:</h2>

      <ul>
      <% @tweeter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :handle %><br>
    <%= f.text_field :handle %>
  </div>
  <div class="field">
    <%= f.label :access_token %><br>
    <%= f.text_field :access_token %>
  </div>
  <div class="field">
    <%= f.label :access_token_secret %><br>
    <%= f.text_field :access_token_secret %>
  </div>
  <div class="field">
    <%= f.label :followers %><br>
    <%= f.number_field :followers %>
  </div>
  <div class="field">
    <%= f.label :following %><br>
    <%= f.number_field :following %>
  </div>
  <div class="field">
    <%= f.label :influence %><br>
    <%= f.number_field :influence %>
  </div>
  <div class="field">
    <%= f.label :tweet_count %><br>
    <%= f.number_field :tweet_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
