<h1>Listing tweeters</h1>

<table>
  <thead>
    <tr>
      <th>Handle</th>
      <th>Access token</th>
      <th>Access token secret</th>
      <th>Followers</th>
      <th>Following</th>
      <th>Influence</th>
      <th>Tweet count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweeters.each do |tweeter| %>
      <tr>
        <td><%= tweeter.handle %></td>
        <td><%= tweeter.access_token %></td>
        <td><%= tweeter.access_token_secret %></td>
        <td><%= tweeter.followers %></td>
        <td><%= tweeter.following %></td>
        <td><%= tweeter.influence %></td>
        <td><%= tweeter.tweet_count %></td>
        <td><%= link_to 'Show', tweeter %></td>
        <td><%= link_to 'Edit', edit_tweeter_path(tweeter) %></td>
        <td><%= link_to 'Destroy', tweeter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweeter', new_tweeter_path %>
